<div class="flex bg-yellow-300 w-full items-center px-8">
  <div class="flex items-center">
    <mat-icon class="scale-125">menu</mat-icon>
  </div>
  <div class="flex items-center ml-5">
    <span class="text-lg text-black font-bold">Car Catalogues</span>
  </div>
</div>
