<div class="w-full flex justify-center">
  <div class="flex flex-col bg-gray-100 w-full h-full p-8 rounded-2xl">
    <div class="flex justify-center mb-4 w-full">
      <app-search-container class="w-full" (searchText)="searchBike($event)"></app-search-container>
    </div>
    <div class="flex justify-center w-full">
      <div class="grid grid-cols-3 gap-10 w-full" *ngIf="cars.length > 0; else noBikeFounds">
        <div class="flex flex-col justify-between items-center h-64 w-64 bg-white rounded-2xl pt-5 pb-3"
             *ngFor="let car of cars">
          <div class="flex-1 overflow-hidden">
            <img [src]="getImageUrl(car.picture)" [alt]="car.name" class="h-full w-full object-cover">
          </div>
          <div class="flex flex-col justify-between justify-items-end w-full bg-yellow-50 px-5">
            <div class="flex justify-between items-end w-full">
              <p class="font-extrabold">{{car.name}}</p>
              <img [src]="getLogoUrl(car.brand)" [alt]="car.brand" width="45px">
            </div>
            <div class="flex justify-between w-full">
              <p class="font-extrabold">Price</p>
              <p class="italic">{{car.price | currency}}</p>
            </div>
          </div>
          <div>
            <span class="font-light text-xs italic hover:underline hover:cursor-pointer" (click)="navigateToBikeDetails(car.id)">View Car</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noBikeFounds>
  <div class="flex justify-between items-center w-full h-full">
    <span>No data found!</span>
  </div>
</ng-template>
